model_list:
  - model_name: llama-3.2-1b-instruct
    litellm_params:
      model: openai/llama-3.2-1b-instruct
      api_base: http://llama-3.2-1b-instruct:8080/v1
      api_key: dummy

  - model_name: embeddinggemma-300m
    litellm_params:
      model: openai/embeddinggemma-300m
      api_base: http://embeddinggemma-300m:8080/v1
      api_key: dummy

  - model_name: nomic-embed-v1.5
    litellm_params:
      model: openai/nomic-embed-v1.5
      api_base: http://nomic-embed-v1.5:8080/v1
      api_key: dummy

  - model_name: qwen3-embedding-4b
    litellm_params:
      model: openai/qwen3-embedding-4b
      api_base: http://qwen3-embedding-4b:8080/v1
      api_key: dummy